<h2><%= @my_plant.nickname %></h2>

<p><%= @my_plant.plant.common_name.upcase %></p>
<p>Last watered: <%= @my_plant.days_ago %> days ago</p>
<%= @my_plant.water? %>
<%= @my_plant.last_watered %>
<% @my_plant.garden.user %>
