<div class="container">
  <div class="d-flex my-plant-card mb-3">
    <% if @my_plant.photo.present?  %>
      <%= cl_image_tag @my_plant.photo.key, class: "plant-image" %>
    <% else %>
      <%= cl_image_tag @my_plant.plant.photo.key, class: "plant-image" %>
    <% end %>

    <div class="text-start">
      <h2><%= @my_plant.nickname %></h2>
      <p><%= @my_plant.plant.common_name.upcase %> // <%= @my_plant.plant.scientific_name.upcase %></p>
      <p>Last watered: <%= @my_plant.days_ago %> days ago (<%= @my_plant.last_watered %>)</p>
      <p>Does <%= @my_plant.nickname %> need water? <%= @my_plant.water? %></p>
    </div>

    <div class="pencil-icon align-self-start">
      <%= image_tag "pencil.png" %>
    </div>
  </div>

  <div class="pt-2 my-plant-card">
    <h4 class="pt-2">Needs:</h4>
      <div class="d-flex justify-content-around p-2">
        <div class="text-start">
          <p><%= image_tag "drop.png", class: "needs-button" %> Water: <%= @my_plant.plant.water %></p>
          <p><%= image_tag "plant.png", class: "needs-button" %> Soil: <%= @my_plant.plant.soil %></p>
        </div>
        <div class="text-start">
          <p><%= image_tag "sun.png", class: "needs-button" %> Sun: <%= @my_plant.plant.sun %></p>
          <p><%= image_tag "thermometer.png", class: "needs-button" %> Temperature: <%= @my_plant.plant.temperature %></p>
        </div>
      </div>
  </div>
</div>
