<div class="navbar navbar-expand-sm navbar-light navbar">
  <div class="container-fluid navbar-plantlife rounded-top justify-content-center "> <%# navbar to bottom %>

    <div class="d-flex plantlife-image">
      <h2>PlantLife</h2>
      <%= image_tag "sprout.png" %>
    </div>

  </div>
</div>


<div class="navbar-expand-sm navbar-light navbar">
  <div class="container-fluid navbar-plantlife fixed-bottom rounded-top"> <%# navbar to bottom %>

    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "house.png" %> <%# inserted home png %>
    <% end %>

    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "alarm.png" %> <%# inserted bell png %>
    <% end %>

    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "gardening.png" %> <%# inserted bell png %>
    <% end %>



    <% if user_signed_in? %>
          <div class="dropup">
            <button type="button" class="btn dropdown" id="dropdownBtn" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownBtn">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
    <% else %>
        <%= link_to new_user_session_path, class: "navbar-brand" do %>
          <%= image_tag "user.png" %> <%# inserted user png %>
        <% end %>
    <% end %>

  </div>
</div>
