
<%# button for adding a new garden (missing link) %>
<div class="d-flex justify-content-center">
  <h2 class="px-2"> Add a new garden</h2>
  <button class="green-button">+</button>
</div>

<div class="container">
  <div class="notification-container">
    <h2 class="text-center pt-2">Notifications</h2>
    <div class="d-flex justify-content-around">

      <div class="" style="width: 90%">
        <% @my_plants.each do |p| %>
          <% if p.water? %>
            <div class="notification-card">
              <div class="d-flex align-items-center">
                <div class="plant-avatar">
                  <%= image_tag "pl.webp" %>
                </div>

                <div>
                  <h6 class="mt-1"><%= p.nickname %></h6>
                  <p><%= p.plant.common_name %></p>
                  <p><%= p.garden.name %></p>
                  <p><%= p.overdue %></p>
                </div>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox">
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>




<!--
<h2>All</h2>
<% @my_plants.each do |p| %>
      <p>
        <%= p.nickname %>. last watered: <%= p.last_watered %>
      </p>
      <p>
        watered <%= p.days_ago %> days ago
      </p>
<% end %>
-->
