
<%# button for adding a new garden (missing link) %>
<div class="d-flex justify-content-around">
  <h2 class=""> Add a new garden</h2>
  <button class="green-button">+</button>
</div>

<h2>Notifications</h2>
<% @my_plants.each do |p| %>
  <% if p.water? %>
    <div style="border: 1px solid black">
      <p><%= p.plant.common_name %> <%= p.nickname %></p>
      <p><%= p.garden.name %></p>
      <p><%= p.overdue %></p>
      <p><%= link_to "done!", water_my_plant_path(p), method: :patch %></p>
    </div>
  <% end %>
<% end %>
<!--
<h2>All</h2>
<% @my_plants.each do |p| %>
      <p>
        <%= p.nickname %>. last watered: <%= p.last_watered %>
      </p>
      <p>
        watered <%= p.days_ago %> days ago
      </p>
<% end %>
-->
