<h1>Search for a plant</h1>

<!-- [...] -->
<%# <%= form_tag garden_plants_path, method: :get do %>
  <%# <%= text_field_tag :query,
    params[:query], %>
    <%# class: "form-control",
    placeholder: "Find a plant"
  %>
  <%# <%= submit_tag "Search", class: "btn btn-primary" %>
<%# <% end %>
<!-- the list of plants -->

<% @plants.each do |plant| %>
  <%= cl_image_tag plant.photo.key, height: 300, width: 400, crop: :fill %>
  <p><%= plant.common_name %></p>
<% end %>
