<div class="container" style="width: 90%">

  <h2 class="text-center my-4">
    My Gardens
  <h2>

  <% @gardens.each do |garden| %>
    <%= link_to garden_path(garden) do %>
    <h2><%= garden.name %></h2>
    <% end %>

    <div class="carousel">
        <% garden.my_plants.each do |p| %>
          <div class="my-plant-card">
            <%= cl_image_tag p.plant.photo.key, class: "plant-image" %>
            <% if p.nickname.empty? %>
              <h4><%= p.plant.common_name %></h4>
            <% else %>
              <h4><%= p.nickname %></h4>
            <% end %>
          </div>
        <% end %>
    </div>

  <% end %>

</div>

    <%# <div class="my-plant-card py-4 my-2"> %>
      <%#<%= link_to garden.name, garden_path(garden) %>
      <%#<% garden.my_plants.each do |my_plant| %>
        <%#<%= my_plant.nickname%>
      <%#<%end%>
    <%#</div>
