
<div class="container justify-content-around" style="width: 90%">

  <h1 class="align-middle"> <%= @garden.name %> </h1>
  <% @my_plants.each do |my_plant| %>
    <%= link_to garden_my_plant_path(my_plant.garden, my_plant), class: "d-flex text-decoration-none linked-plant-cards" do %>

      <div class="my-plant-card">
        <div class="d-flex justify-content-center">

          <%# <%= cl_image_tag my_plant.plant.photo.key, class: "plant-image" %>

          <div class="pt-2 lh-sm">
            <% if my_plant.nickname.empty? %>
              <h2><%= my_plant.plant.latin %></h2>
            <% else %>
              <h2><%= my_plant.nickname %></h2>
            <% end %>

            <p class="my-plant-label">Light Exposure: <%= my_plant.plant.ideallight %></p>
            <p class="my-plant-label">Name: <%= my_plant.plant.common %></p>
          </div>


        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to garden_plants_path(@garden), class: "mx-2" do %>
    <button class="green-button mx-2 sticky-btn">
      +
    </button>
  <% end %>
</div>
