<div class="text-center">
  <h2> <%= @garden.name %> </h2>
<div>

<div id="add">
<%= link_to garden_plants_path(@garden) do %>
  <button class="green-button"><h1>+</h1></button>
  <% end %>
</div>

<div class="container" style="width: 90%">
  <% @my_plants.each do |my_plant| %>

    <div class="my-plant-card">
      <h2><%= my_plant.nickname %></h2>
      <div class="d-flex justify-content-between">
        <%= cl_image_tag my_plant.plant.photo.key, class: "plant-image" %>
        <div class="flex-row pt-2">
          <p class="plant-label">Light Exposure: <%= my_plant.light_exposure %></p>
          <p class="plant-label">Name: <%= my_plant.plant.common_name %></p>
        </div>
        <div class="pencil-icon align-self-end">
           <%= link_to edit_garden_my_plant_path(my_plant.garden, my_plant), class: "navbar-brand" do %>
              <%= image_tag "pencil.png" %>
           <% end %>
        </div>
      </div>
    </div>

  <% end %>



</div>
