<div class="text-center">
  <h2> <%= @garden.name %> </h2>
<div>

<div id="add">
<%= link_to garden_plants_path(@garden) do %>
  <button class="green-button"><h1>+</h1></button>
  <% end %>
</div>

<div class="container justify-content-around" style="width: 90%">
  <% @my_plants.each do |my_plant| %>
    <%= link_to garden_my_plant_path(my_plant.garden, my_plant), class: "d-flex text-decoration-none" do %>

      <div class="my-plant-card">
        <div class="d-flex justify-content-center">

          <%= cl_image_tag my_plant.plant.photo.key, class: "plant-image" %>

          <div class="pt-2 lh-sm">
            <h2><%= my_plant.nickname %></h2>
            <p class="my-plant-label">Light Exposure: <%= my_plant.light_exposure %></p>
            <p class="my-plant-label">Name: <%= my_plant.plant.common_name %></p>
          </div>

          <div class="d-flex">
            <div class="pencil-icon">
              <%= link_to edit_garden_my_plant_path(my_plant.garden, my_plant), class: "" do %>
                  <%= image_tag "pencil.png" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    <% end %>
  <% end %>


</div>
